<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>날 JOB아줘</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="header-top">
            <a class="header-top-logo" href="/main.html">
                <img src="/images/logo.svg" alt="">
            </a>

            <div class="header-top-menu">
                <ul>
                    <li><a href="ent_ranking.html">기업 랭킹</a></li>
                    <li><a href="#">채용</a></li>
                    <li><a href="#">취업Q&A</a></li>
                    <li><a href="#">커리어성장</a></li>
                </ul>
            </div>

            <div class="header-top-right">
                <span class="alarm-box">
                    <i class="fa-regular fa-bell" style="color: #616875;"></i>
                </span>
                <a href="/login.html">로그인</a>
                <a href="/register.html">회원가입</a>
            </div>
        </div>

        <div class="header-bot">
            <div class="schbar">
                <input class="schbar-input" placeholder="기업, 채용공고를 검색해보세요." type="text" name="" id="">
            </div>
        </div>
    </header>

    <header id="scroll-header">
        <a class="header-top-logo" href="/main.html">
            <img src="/images/logo.svg" alt="">
        </a>
        <div class="schbar">
            <input class="schbar-input" placeholder="기업, 채용공고를 검색해보세요." type="text" name="" id="">
        </div>
    </header>

    <div class="cen" style="margin: 50px auto;">
        
        <div class="ranking-box">
            <div class="ranking-item">
                <p class="rank-category">복지 및 급여</p>
                <div class="ranking">
                    <span class="txt-red">1</span>
                    <div>
                        <span class="rank-ent-name">(주)에스큐제약</span>
                        <div class="rank-right">
                            <span class="star star-sm">
                                ★★★★★
                                <span style="width: 50%;">★★★★★</span>
                            </span>
                            <span class="rank-rate">5.0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer>
        <div class="footer-top">
            <ul>
                <li><a href="#">회사소개</a></li>
                <span class="div-line">|</span>
                <li><a href="#">이용약관</a></li>
                <span class="div-line">|</span>
                <li><a href="#">개인정보처리방침</a></li>
                <span class="div-line">|</span>
                <li><a href="#">커뮤니티가이드라인</a></li>
                <span class="div-line">|</span>
                <li><a href="#">고객센터</a></li>
            </ul>
        </div>
        <div class="footer-bot">
            <p class="font-bold">브레인커버스</p>
            <p>
                서울특별시 강남구 테헤란로 509 엔씨타워 I, 10층
                <span class="div-line">|</span>
                대표   황희승, 윤신근 
                <span class="div-line">|</span>
                개인정보보호관리자   윤신근
            </p>
            <p>
                사업자등록번호   120-87-92182 
                <span class="div-line">|</span>
                통신판매업 신고번호   제2014-서울강남-02942호 
                <span class="div-line">|</span>
                유료 직업소개사업 등록번호   (국내) 제2017-3220163-14-5-00046
            </p>
            <p>
                대표번호   1644-5641 (10:00~17:00 / 매월 마지막 금요일 09:00~13:00 / 주말 및 공휴일 휴무)
                <span class="div-line">|</span> 
                대표이메일 : customer_service@jobplanet.co.kr
            </p>
            <p>
                <span class="copyright">©Jobplanet. All rights reserved.</span> 
            </p>
        </div>
    </footer>
</body>
<script src="https://kit.fontawesome.com/96da2afb16.js" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
</html>